/bootstrap/compiled.php
/vendor
/public/node_modules
/public/files/torrents
/public/files/tmp
/public/files/img
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
tracker.wxproj
tracker.wxtask