
.f-category {
	.f-category-title {
		margin: 0.75em auto;
		background: linear-gradient(#2ca0ce, #37add9);
		//.border-radius(4px, 0, 0, 4px);
		border: 1px solid #1E92C0;
		.rounded(4px);
		h2 { 
			text-shadow: 0px 1px 2px #000;
			> a { color: #fff; .transition(); &:hover { text-decoration: none; } } 
		} 
	}
	
	.f-category-table-wrapper {
		//background: rgb(233, 233, 233);
		margin: 0 auto 0.75em; 
		padding: 0 0;
		table.f-category-forums {
			background: white;
			.bordered(1px solid #dbe4ef);
			.rounded(4px);
			.f-category-forums-icon { vertical-align: middle; img { } }
			.f-category-forums-hidden { background: #D8DDE8; display: none; }
			h4.f-category-forums-title { margin: 0; }
			p.f-category-forums-description { color: #777777; }
			tr { background: #f7f9fa; }
			.f-category-forums-stats {
				vertical-align: middle;
				ul { list-style: none; li.f-category-forums-item { } }
			}
			ul.f-category-forums-last-post {
				list-style: none;
				.f-category-forums-last-post-item {
					time { color: #777777; }
				}
			}
		}
	}
	
}

.f-display {
	.f-display-info {
		//background: linear-gradient(#34d474, #25b05d);
		.border-radius(4px, 0, 0, 4px);
		.f-display-info-title { 
			margin: 0.75em auto;
			//text-shadow: 0px 1px 2px #000;
			//color: #fff; 
		}
		.f-display-info-description { color: #777; }
	}
	.f-display-pagination { }
	.f-display-table-wrapper {
		background: rgb(233, 233, 233);
		margin: 0 auto 0.75em; 

		.f-display-topics { 
			background: white;
			margin-top: 0.75em;
			margin-bottom: 0.75em;
			.bordered(1px solid #dbe4ef);
			.rounded(4px);
			.f-display-topics-hidden { display: none; }
			.f-display-topic-icon { vertical-align: middle; img { } }
			.f-display-topic-title { vertical-align: middle; h4 { margin: 0; } }
			.f-display-topic-stats {
				vertical-align: middle;
				ul { list-style: none; li.f-display-topic-stats-item { } }
			}
			.f-display-topic-last-post {
				ul { list-style: none; li.f-display-topic-last-post-item { time { color: #777; } } }
			}
		}
	}
}

.topic {
	.topic-info {
		h2 { }
		p { color: #777; }
	}
	.topic-posts {
		background: #ebf0f3;
		padding: 0 0 0.75em 0;
		.topic-posts-head { 
			//background: linear-gradient(#34d474, #25b05d); 
			background: linear-gradient(#2ca0ce, #37add9);
			padding: 0.75em; 
			.border-radius(4px, 0, 0, 4px); 
			color: #fff;
		}
		.post {
			background: #d8e7f5;
			margin: 0.75em;
			padding: 0;
			border: 1px solid #ccc;
			//.rounded(4px);
			.drop-shadow();
			.post-head {
				background: #F5F6F7;
				padding: 0.75em 1.25em;
				border-bottom: 1px solid #ccc;
				text-transform: uppercase;
				.post-head-date {
					float: right; 
				} 
			}
			aside.post-info { 
				padding: 1.25em 1em; 
				//background: #d8e7f5;
				border-right: 1px solid #ccc;
				.post-info-username { 
					display: block;
					text-align: center;
				}
				p {
					text-align: center;
				}
			}
			article.post-content { 
				//border-left: 1px solid #ccc;
				padding: 1.25em 1em;
				background: #f1f5fa; 
				word-wrap: break-word; 
				line-height: 1.75em; 
				color: darken(#fff, 87%);
				span { font-size: 2em; span { font-size: 2em; } }
				img { max-width: 100%; }
				blockquote {
					border-width: 2px;
					border-style: solid;
					border-color: #E5E5E5 #E5E5E5 #E5E5E5 #989898;
					background: #F7F7F7;
					.rounded(4px);
				}
			}
			.post-control {
				text-align: right;
				padding: 0.75em;
				border-top: 1px solid #ccc;
				a {
					padding: 0 0.75em;
				}
			}
		}
	}
	.topic-new-post {
		background: #ebf0f3;
		padding: 0.75em;
	}
}