.home {
	.home-article {
		background: #fff;
		box-shadow: 0 0 0 1px rgba(68, 89, 98, 0.12), 0 3px 12px rgba(68, 89, 98, 0.18);
		margin: 0 auto 1.25em;
		.home-article-title {
			padding: 0 1em 0 1em;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
		.home-article-date {
			float: left;
			padding: 0 1em;
		}
		.home-article-brief {
			float: left;
			line-height: 1.75em;
			padding: 1em;
		}
		.home-article-more {
			float: right;
			padding: 1em;
		}
	}
}