.home {
    .home-post {
        margin: 1.25em 0;
        padding: 1.25em; 
        border: solid 1px #cecece;
        border-bottom-width: 2px;
        .rounded();
        background: #fff;
        transition: box-shadow 0.2s ease-out, border-bottom-width 0.2s ease-out;
        background: #f0f3f6;
        &:hover {
            .box-shadow(0px 0px 5px #cecece);
            border-bottom-width: 5px;
        }
        .home-post-title {
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .home-post-time {
            padding: 1.25em 0;
        }
        .home-post-brief {
            color: #666;
            line-height: 2em;
            //text-shadow: 1px 1px 0px #000;
        }
        .home-post-more {
            float: right;
            a {
                padding: 0.75em 2em;
                border: 1px solid #666;
                .transition();
                &:hover {
                    color: white;
                    background: #25B05D;
                }
            }
        }
    }
}
