.torrents {
    .torrents-table {
        .torrent-table-t {
            ul {
                padding: 0;
                list-style: none;
                li {}
            }
            .torrent-table-t-category {
                background: #5A9EDE;
                .rounded(4px);
                display: inline-block;
                color: #fff;
                font-size: 0.875em;
                padding: 0.333em;
                &:hover { text-decoration: none; }
            }
        }
    }
}

.torrent {
    .torrent-title {
        text-align: center;
    }
    .torrent-description {

    }
    .torrent-data {
        text-align: center;
        .torrent-data-item {
            padding: 0 1.25em;
        }
    }
    .torrent-bottom {
        padding: 1.25em 1em;
        //text-align: center;
        .torrent-bottom-download {
            font-size: 1.5em;
        }
        .torrent-bottom-nfo {
            margin: 1.25em auto;
        }
        .torrent-bottom-files {
            
        }
    }
}
