
html, body {
    height: 100%;
}


body {
    background: #181816 url('../img/bg-linen.jpg');
    font-family: "Lato", Helvetica, Arial, sans-serif;
    line-height: 1.72222;
    color: #34495e;
    //padding: 3.65em 15px;

    font-size: 16px;


}   

a {

    &:hover {
        text-decoration: none;
    }
}

#l-content {
    min-height: 100%;
    background: url('../img/cloud.png') center bottom repeat-x;
    padding: 1.25em 0;

    .page-title {
        h1 { }
    }

    .box {
      padding: 1.25em 15px;
      background: #fff;
  }
}