
html, body {
    height: 100%;
}


body {
    background: #181816 url('../img/bg-linen.jpg');
    font-family: "Lato", Helvetica, Arial, sans-serif;
    line-height: 1.72222;
    color: #34495e;
    //padding: 3.65em 15px;

    font-size: 16px;

    
}   

a {

    &:hover {
        text-decoration: none;
    }
}

#l-content {
    min-height: 100%;
    background: url('../img/cloud.png') center bottom repeat-x;
    padding: 1.25em 0;

    .page-title {
        h1 { }
    }

    .box {
      padding: 1.25em 15px;
      background: #fff;
    }
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-inactive {
    display: none;
}