
html, body {
	font-size: 100%;
	height: 100%;
}

body {
	//color: #666;
	background: #D8DDE8;
	//background: url('../img/carbon_fibre.png');
	font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cabin Condensed';
	color: #282f38;
}

.box {
	padding: 1.25em 1em;
	background: #fff;
	.box-shadow(0px 5px 9px rgba(0, 0, 0, 0.1));
}
