
#l-footer {
	background: #fff;
	color: #535756;
	.l-footer-section {
		//text-align: center;
		margin: 1.25em auto;
		h3.l-footer-section-title {
			color: #90969f;
		}
		p { color: #90969f; }
		//a { color: #c7cacf; &:hover { color: #fff; text-decoration: none; } }
		ul { list-style: none; padding: 0; }
	}
}
