#l-footer {
	//margin: 1.25em auto 0 0;
	background: #fff;
	//background: #222e3e;
	//color: #888888;
	color: #535756;
	border-top: 1px solid #ccc;
	//border-top: 1px solid #555;
	//box-shadow: 0 0 0 1px rgba(68, 89, 98, 0.12), 0 3px 12px rgba(68, 89, 98, 0.18);
	.container {
		//background: white;
		//box-shadow: 0 0 0 1px rgba(68, 89, 98, 0.12), 0 3px 12px rgba(68, 89, 98, 0.18);
	}
	.l-footer-section {
		margin: 1.25em auto;
		h3.l-footer-section-title { 
			color: #90969f;
		}
		p { color: #90969f; }
		//a { color: #c7cacf; &:hover { color: #fff; text-decoration: none; } }
		ul { list-style: none; padding: 0; }
	}
}