
#l-header {
    background: linear-gradient(lighten(#25b05d, 10%), #25b05d);
    //border-bottom: 1px solid #1B3759;
    //.box-shadow(0px 1px 40px rgba(0,0,0,0.4));
    .l-header-logo {
        color: white;
        text-transform: uppercase;
        text-shadow: 0px 1px 2px #000;
        .transition();
        a {
            color: white;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .l-header-user-data {
        padding: 1.25em 1em;
        span.l-header-user-data-field {
            text-transform: uppercase;
            color: white;
            font-size: 1.5em;
            padding: 0 0.65em;
        }
        a.l-header-user-data-link {
            text-transform: uppercase;
            color: white;
            font-size: 1.5em;
            padding: 0 0.65em;
            transition: color 0.2s ease-out;
            &:hover {
                color: rgba(0, 0, 0, 0.5);
                text-decoration: none;
            }
        }
    }
    .l-header-menu {
        padding: 1.25em 1em;
        .l-header-menu-item {
            padding: 0.75em 1em;
            color: #fff;
            font-size: 1.15em;
            text-shadow: 0px 1px 2px #000;
            .rounded(4px);
            .transition();
            &:hover { text-decoration: none; color: white; background: rgba(0, 0, 0, 0.2); }
            //.is-active { background: blue; }
        }
    }
}
